<div layout="column"
     class="md-margin"
     style="border: 1px solid; border-top: 4px solid;"
     md-colors="{'border-color': 'primary-600'}">

    <md-toolbar style="background: #FFF"
                ng-class="{
                'group-connection-line': $ctrl.rule.rules.length > 0,
                'group-middle-line': !$ctrl.isRoot,
                'group-middle-line-none': $ctrl.index == $ctrl.parentRulesLength - 1 && $ctrl.index != 0}">

        <div class="md-toolbar-tools" style="justify-content: space-between">
            <div style="color: #000; justify-content: end">
                <md-button
                        ng-if="$ctrl.rule.operator =='OR'"
                        class="md-raised md-primary"
                        ng-model="$ctrl.rule.operator">
                    Any
                </md-button>
                <md-button
                        ng-if="$ctrl.rule.operator !='OR'"
                        class="md-raised"
                        ng-model="$ctrl.rule.operator"
                        ng-click="$ctrl.changeOperator('OR')">
                    Any
                </md-button>
                <md-button
                        ng-if="$ctrl.rule.operator =='AND'"
                        class="md-raised md-primary"
                        ng-model="$ctrl.rule.operator"
                        ng-click="">
                    All
                </md-button>
                <md-button
                        ng-if="$ctrl.rule.operator !='AND'"
                        class="md-raised"
                        ng-model="$ctrl.rule.operator"
                        ng-click="$ctrl.changeOperator('AND')">
                    All
                </md-button>
            </div>

            <div>
                <md-button ng-click="$ctrl.addExpression()" class="md-raised md-primary">
                    <md-icon md-font-icon="fas fa-plus"></md-icon>
                    Add expression
                </md-button>

                <md-button ng-click="$ctrl.addGroup()" class="md-raised md-primary">
                    <md-icon md-font-icon="fas fa-layer-group"></md-icon>
                    Add group
                </md-button>

                <md-button ng-click="$ctrl.addCondition()" class="md-raised md-primary">
                    <md-icon md-font-icon="fas fa-plus"></md-icon>
                    Add condition
                </md-button>

                <md-button class="md-fab md-raised md-mini md-warn" ng-if="!$ctrl.isRoot" ng-click="$ctrl.onDelete()">
                    <span style="color: #FFF">X</span>
                </md-button>
            </div>
        </div>
    </md-toolbar>

    <div layout="row">
        <md-content class="md-padding"
                    ng-show="$ctrl.rule.rules.length > 0"
                    style="background: #FFF; width: 100%">
            <div ng-repeat="subRule in $ctrl.rule.rules"
                 ng-class="{'test': subRule.type != 'expression' && subRule.type != 'condition'}">

                <mds-condition-builder-expression
                        class="mds-condition-builder-expression-container md-padding"
                        ng-if="subRule.type == 'expression'"
                        rule="subRule"
                        on-delete="$ctrl.deleteRule($index)">
                </mds-condition-builder-expression>

                <mds-condition-builder-condition
                        class="md-padding"
                        ng-if="subRule.type == 'condition'"
                        on-delete="$ctrl.deleteRule($index)"
                        rule="subRule">
                </mds-condition-builder-condition>

                <mds-condition-builder-group
                        class="md-padding"
                        ng-if="subRule.type == 'group'"
                        rule="subRule"
                        on-delete="$ctrl.deleteRule($index)"
                        parent-rules-length="{{$ctrl.rule.rules.length}}"
                index={{$index}}>
                </mds-condition-builder-group>

            </div>
        </md-content>
    </div>
</div>